.wrapper-map {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 760px;
    bottom: 100px;

}
.map{
    width: 700px;
    height: 730px;
    z-index:1;
    left:140px;
    position: relative;

}
.cartoon-map{
    position: relative;
    width:100px;
    z-index:2;
    left:140px;
}
.smiley {
    position: absolute;
}

.smiley.yellow {
    top: 0;
    left: 30px;
    z-index: 2;
    transform: rotate(0);
    animation-name: yellowFullcartoon;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.smiley.red {
    top: 40px;
    left: 0;
    z-index: 1;
    transform: rotate(0);
    animation-name: redFullcartoon;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes yellowFullcartoon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}
@keyframes redFullcartoon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}