.wrapper-map {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 760px;
    bottom: 100px;
    width:1000px;
}
.map{
    width: 900px;
    height: 600px;
    z-index:1;
    left:175px;
    position: relative;

}
.cartoon-map{
    position: relative;
    width:100px;
    z-index:2;
    left:140px;
}
.smiley {
    position: absolute;
}

.smiley.yellow {
    top: 0;
    left: 30px;
    z-index: 2;
    transform: rotate(0);
    animation-name: yellowFullcartoon;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.smiley.red {
    top: 40px;
    left: 0;
    z-index: 1;
    transform: rotate(0);
    animation-name: redFullcartoon;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes yellowFullcartoon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}
@keyframes redFullcartoon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}
.cloud-map {
    position: absolute;
    bottom: 30px;
    width: 219px;
    height: 165px;
}
.cloud-two{
    width:139px;
    height: 104px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-name:  cloudTwo;
    transform: translateX(0%);
    animation-duration: 1.75s;
}
.cloud-three {
    width:172px;
    position: relative;
    top:50px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-name:  cloudThree;
    transform: translateX(0%);
    animation-duration: 1.75s;
}
@keyframes cloudTwo {
0%{
    transform: translateX(0%);
}
25% {
    transform: translateX(10%);
}
50%{
    transform: translateX(30%);
}
100%{
    transform: translateX(40%);
}
}
@keyframes cloudThree {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}